--create database MilkTea
USE [MilkTea]
GO

/****** Object:  Table [dbo].[Role]   **/
CREATE TABLE [dbo].[Role] (
    [roleId] INT PRIMARY KEY ,
    [roleName] NVARCHAR(50)  NOT NULL
);
/****** Object:  Table [dbo].[Account]    **/
CREATE TABLE Account (
    accountId INT PRIMARY KEY IDENTITY(1,1),
    username NVARCHAR(50)  NOT NULL,
    password NVARCHAR(255) NOT NULL,
    fullName NVARCHAR(100) NOT NULL,
    phone NVARCHAR(15)  NOT NULL,
	email NVARCHAR(100)  NULL UNIQUE,
    roleId INT NOT NULL,
    FOREIGN KEY (roleId) REFERENCES role(roleId) 
);

/****** Object:  Table [dbo].[Staff]    */
CREATE TABLE Staff (
    staffId INT PRIMARY KEY IDENTITY(1,1),
    hireDate DATE NOT NULL,
    gender NVARCHAR(10) CHECK (gender IN ('Male', 'Female')) NOT NULL,
    dateOfBirth DATE NOT NULL,
    accountId INT UNIQUE NOT NULL,
    FOREIGN KEY (accountId) REFERENCES Account(accountId) 
);

/****** Object:  Table [dbo].[Customer]    */
CREATE TABLE Customer (
    customerId INT PRIMARY KEY IDENTITY(1,1),
    point INT DEFAULT 0,
    accountId INT  NOT NULL,
    FOREIGN KEY (accountId) REFERENCES Account(accountId) 
);


/****** Object:  Table [dbo].[Admin]    */
CREATE TABLE admin (
    adminId INT PRIMARY KEY IDENTITY(1,1),
    gender NVARCHAR(10) CHECK (gender IN ('Male', 'Female')) NOT NULL,
    dob DATE NOT NULL,
    accountId INT UNIQUE NOT NULL,
    FOREIGN KEY (accountId) REFERENCES Account(accountId) ON DELETE CASCADE
);

/****** Object:  Table [dbo].[Category]   */
CREATE TABLE [dbo].[Category] (
    [CategoryId] INT PRIMARY KEY,
    [CategoryName] NVARCHAR(50) NOT NULL
);
/****** Object:  Table [dbo].[Product]    Script Date: 11/15/2021 1:02:52 PM ******/
CREATE TABLE [dbo].[Product] (
    [ProductId] NVARCHAR(50) PRIMARY KEY,
    [ProductName] NVARCHAR(50) NOT NULL,
    [Quantity] INT NULL,
    [Price] MONEY NOT NULL CHECK ([Price] >= 0),
    [Origin] NVARCHAR(50) NOT NULL,
    [CategoryId] INT NOT NULL,
    [Image] NVARCHAR(250) NOT NULL,
    FOREIGN KEY ([CategoryId]) REFERENCES [dbo].[Category]([CategoryId]) 
);
/****** Object:  Table [dbo].[Orders]    */
CREATE TABLE [dbo].[Orders] (
    [OrderId] INT PRIMARY KEY IDENTITY(1,1),
    [StaffId] INT NOT NULL,
    [CustomerId] INT NOT NULL,
	[Point] INT CHECK ([Point] >= 0),
	[OriginalTotal] MONEY NOT NULL CHECK ([OriginalTotal] >= 0),
	[Total] MONEY NOT NULL CHECK ([Total] >= 0),
    [DateCreate] DATE NOT NULL,
    FOREIGN KEY ([StaffId]) REFERENCES [dbo].[Staff]([StaffId]) ,
    FOREIGN KEY ([CustomerId]) REFERENCES [dbo].[Customer]([CustomerId]) 
);

/****** Object:  Table [dbo].[OrdersDetail]    */
CREATE TABLE [dbo].[OrdersDetail] (
    [OrderId] INT NOT NULL,
    [ProductId] NVARCHAR(50) NOT NULL,
    [Quantity] INT NOT NULL CHECK ([Quantity] > 0),
    [Price] MONEY NOT NULL CHECK ([Price] >= 0),
    PRIMARY KEY ([OrderId], [ProductId]),  
    FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Orders]([OrderId]) ,
    FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Product]([ProductId]) 
);
/****** Object:  Table [dbo].[RawMaterial]    */
CREATE TABLE [dbo].[RawMaterial] (
    [MaterialId] INT PRIMARY KEY IDENTITY(1,1),
    [MaterialName] NVARCHAR(100) NOT NULL,
    [Unit] NVARCHAR(20) NOT NULL, -- Đơn vị tính (kg, ml, cái, ...)
    [CostPerUnit] MONEY NOT NULL CHECK ([CostPerUnit] >= 0), -- Giá nhập mỗi đơn vị
    [Quantity] FLOAT NOT NULL CHECK ([Quantity] >= 0) -- Số lượng tồn kho
);

/****** Object:  Table [dbo].[Recipe]    */
CREATE TABLE [dbo].[Recipe] (
    [RecipeId] INT PRIMARY KEY IDENTITY(1,1),
    [ProductId] NVARCHAR(50) NOT NULL,
    [MaterialId] INT NOT NULL,
    [QuantityRequired] FLOAT NOT NULL CHECK ([QuantityRequired] > 0), -- Lượng nguyên liệu cần thiết để sản xuất 1 sản phẩm
    FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Product]([ProductId]),
    FOREIGN KEY ([MaterialId]) REFERENCES [dbo].[RawMaterial]([MaterialId])
);
CREATE TABLE DisposedMaterials (
    DisposedId INT PRIMARY KEY IDENTITY(1,1),
    MaterialId INT NOT NULL,
    Quantity FLOAT NOT NULL CHECK (Quantity > 0),
    DateDisposed DATE NOT NULL DEFAULT GETDATE(),
    FOREIGN KEY (MaterialId) REFERENCES RawMaterial(MaterialId)
);


CREATE TRIGGER trg_UpdateProductQuantity_AfterRecipe
ON Recipe
AFTER INSERT
AS
BEGIN
    UPDATE p
    SET p.Quantity = (
        SELECT MIN(rm.Quantity / r.QuantityRequired) 
        FROM Recipe r
        JOIN RawMaterial rm ON r.MaterialId = rm.MaterialId
        WHERE r.ProductId = p.ProductId
    )
    FROM Product p
    WHERE p.ProductId IN (SELECT ProductId FROM inserted);
END;


INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (2, N'Staff')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (3, N'Customer')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (4, N'Admin')
GO





INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Milk Teas')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Teas')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Foods')




INSERT [dbo].[Product] ([ProductId], [ProductName], [Price], [Origin], [CategoryId], [Image]) VALUES (N'1', N'Apple', 15000.0000, N'US', 4, N'/ProductImage/download.jpg')
INSERT [dbo].[Product] ([ProductId], [ProductName], [Price], [Origin], [CategoryId], [Image]) VALUES (N'10', N'Tra Vai', 20000.0000, N'VN', 2, N'/ProductImage/download (1).jpg')
INSERT [dbo].[Product] ([ProductId], [ProductName], [Price], [Origin], [CategoryId], [Image]) VALUES (N'11', N'Tra Chanh', 20000.0000, N'VN', 2, N'/ProductImage/images.jpg')
GO

 -- 20g Bột Cà Phê



INSERT INTO [dbo].[Orders] ([StaffId], [CustomerId], [Point],[OriginalTotal], [Total], [DateCreate]) 
VALUES 
    (1, 3, 0, 100000, 150000, '2024-03-01'), -- Đơn hàng 1
    (2, 4, 0,50000, 90000, '2024-03-02'),  -- Đơn hàng 2
    (3, 5, 0,120000, 175000, '2024-03-03'), -- Đơn hàng 3
    (4, 6, 0, 100000,145000, '2024-03-04'), -- Đơn hàng 4
    (5, 7, 0,115000, 160000, '2024-03-05'); -- Đơn hàng 5


 -- Hamburger
INSERT INTO DisposedMaterials (MaterialId, Quantity, DateDisposed)
VALUES (2, 3, '2025-03-05') -- Bỏ 3 đơn vị nguyên liệu 2 vào ngày 5/3/2025


